---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Variedad de Modos de Juego">
          Ofrece una amplia gama de modos de juego, desde el clásico Battle Royale hasta modos de equipo, desafíos por
          tiempo limitado y eventos especiales. Esto asegura que los jugadores tengan opciones para satisfacer su estilo
          de juego.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Personalización Ilimitada">
          17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
        </Feature>
        <Feature icon="mdi:looks" title="Mundo en Evolución">
          Mantén a los jugadores comprometidos con un mundo en constante cambio. Introduce actualizaciones periódicas
          que agreguen nuevas ubicaciones, enemigos y desafíos para mantener el interés a largo plazo.
        </Feature>
        <Feature icon="mdi:eslint" title="Competencia Justa">
          Fomenta la competencia justa y el juego limpio. Implementa un sistema de emparejamiento equilibrado y medidas
          antitrampas efectivas para garantizar una experiencia de juego justa para todos.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Comunidad Activa">
          Fomenta una comunidad activa y participativa. Organiza eventos en línea, torneos y proporciona contenido en
          constante actualización para mantener a los jugadores involucrados y conectados.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested EpicWarzone Components. Some are native to this theme and a lot of
      others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
</DefaultLayout>
